.code-suggestions-pane {
    -fx-border-color: #5d5d5d;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.code-suggestion {
    -fx-background-color: rgba(124, 123, 123, 0.28);
    -fx-border-width: 1px;
    -fx-border-color: #2a2a2a;
    -fx-text-fill: #656565;
}

.code-suggestion-selected {
    -fx-background-color: rgba(91, 91, 91, 0.5);
}

.code-suggestion:hover, .code-suggestion:focused {
    -fx-background-color: rgba(91, 91, 91, 0.3);
}

/*region Coloring of Code Area*/
.keyword {
    -fx-fill: #ad5555;
    -fx-font-weight: bold;
}

.paren, .brace, .bracket, .semicolon {
    -fx-fill: #000000;
}

.string {
    -fx-fill: #008000;
}

.comment {
    -fx-fill: #808080;
    -fx-font-style: italic;
}
/*endregion*/