.keyword {
    -fx-fill: #0000ff;
    -fx-font-weight: bold;
}

.paren, .brace, .bracket, .semicolon {
    -fx-fill: #000000;
}

.string {
    -fx-fill: #008000;
}

.comment {
    -fx-fill: #808080;
    -fx-font-style: italic;
}